.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.clickable-row {
  cursor: pointer;
}

.search-bar {
  width: 300px;
}

.button {
  width: 140px;
}

.form-content {
  display: flex;
  gap: 10px;
}

.table-scroll {
  height: 80vh;
  overflow: auto;
}

.banks-container {
  width: 100%;
  // margin: auto;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
