.account-register-container {
  width: 500px;
  overflow-x: auto;
}

.row-content {
  display: flex;
  justify-content: space-between;
  min-width: max-content;
}

.label {
  margin-right: 10px;
  white-space: nowrap;
  min-width: 150px;
}

.input {
  width: 160px;
}
