<div class="app-container account-register-container">
    <h4 class="text-center mb-4">Dados do banco</h4>
    <div class="row-content">
        <p class="fw-bold label">Nome:</p>
        <span>{{this.bank.name}}</span>
    </div>
    <div class="row-content">
        <p class="fw-bold label">Nome Completo:</p>
        <span>{{this.bank.fullName}}</span>
    </div>
    <div class="row-content">
        <p class="fw-bold label">Código:</p>
        <span>{{this.bank.code}}</span>
    </div>
    <div class="row-content">
        <p class="fw-bold label">ISPB:</p>
        <span>{{this.bank.ispb}}</span>
    </div>
    <h4 class="text-center mb-4">Dados da conta</h4>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="mb-4 d-flex flex-column align-items-center">
        <div class="form-content d-flex justify-content-between w-50 mb-4">
            <input formControlName="agency" type="text" class="form-control input" placeholder="Agência">
            <input formControlName="account" type="text" class="form-control input" placeholder="Conta">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!accountForm.valid">Cadastrar</button>
    </form>
</div>