<div class="banks-container">
    <div class="text-center mb-4">
        <h2>Banks List</h2>
    </div>

    <form [formGroup]="searchCodeForm" (ngSubmit)="onSubmit()" class="mb-4">
        <div class="form-group searchBar d-flex">
            <input formControlName="code" type="number" class="form-control" placeholder="Digite o código do banco">
            <button type="submit" class="btn btn-primary" [disabled]="!searchCodeForm.valid">Pesquisar banco</button>
        </div>
    </form>

    <ng-container *ngIf="this.banksList">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let bank of this.banksList; let i = index" class="text-center clickable-row"
                        (click)="this.routingNavigationService.navigateToRoute(routesEnum.AccountRegister, bank)">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{ bank.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>